<section class="h-card">
	 <img class="u-logo" src="/res/img/ash.png" alt="Image of Ash Walker, drawn by her sibling." />
	 <div>
		 <h1><a class="u-url u-uid p-name" href="https://ashwalker.net/" rel="me">Ash Walker</a></h1>
		 <p class="p-gender-identity">She/They</p>
		 <ul>
			  <li><a class="u-email" href="mailto:ashurstwalker@gmail.com" rel="me">ashurstwalker@gmail.com</a></li>
			  <li><a class="u-email" href="mailto:ash@ashwalker.net" rel="me">ash@ashwalker.net</a></li>
		 </ul>
		 <nav class="icon-nav">
			 {%- asyncEach cName, cNav in hCardNav -%}
			 <a class="u-url" href="{{ cNav.href }}" rel="me external"><img {{ cNav.img | toAttributes | safe }} /></a>
			 {%- endeach -%}
		 </nav>
	 </div>
</section>
