<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/style/style.css" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="32x32" />
	<link rel="icon" href="/favicon.svg" type="image/svg+xml" sizes="any" />
	<link rel="alternate" type="application/json+xml" title="{{ siteMeta.feed.title }}" href="/feed.json"/>
	<link rel="alternate" type="application/atom+xml" title="{{ siteMeta.feed.title }}" href="/feed.xml"/>
	<link rel="alternate" type="application/rss+xml" title="{{ siteMeta.feed.title }}" href="/rss.xml"/>
	<meta name="generator" content="{{ eleventy.generator }}" />
	<title>{{ siteMeta.title }}{% if page.url != "/" %} - {{ title | default(page.fileSlug) }}{% endif %}</title>
</head>
