<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/style.css" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="32x32" />
	<link rel="icon" href="/favicon.svg" type="image/svg+xml" sizes="any" />
	<link rel="alternate" type="application/atom+xml" title="Signal Garden" href="/feed.xml"/>
	<meta name="generator" content="{{ eleventy.generator }}" />
	<title>Ash Walker{% if page.url != "/" %} - {{ title | default(page.fileSlug) }}{% endif %}</title>
</head>
