<div>
	<aside class="h-card">
		 <img class="u-logo" src="/res/img/ash.png" alt="Image of Ash Walker, drawn by her sibling." />
		 <h1><a class="p-name" href="https://ashwalker.net/" rel="me">Ash Walker</a></h1>
		 <p class="p-gender-identity">She/They</p>
		 <ul>
			  <li><a class="u-email" href="mailto:ashurstwalker@gmail.com" rel="me">ashurstwalker@gmail.com</a></li>
			  <li><a class="u-email" href="mailto:ash@ashwalker.net" rel="me">ash@ashwalker.net</a></li>
		 </ul>
		 <nav>
			  <a href="https://social.ashwalker.net/users/Ash" rel="me external"><img src="/res/img/logos/activitypub.svg" alt="Fediverse"/></a>
			  <a href="https://github.com/SignalWalker" rel="me external"><img src="/res/img/logos/git.svg" alt="Git"/></a>
			  <a href="https://git.ashwalker.net/Ash" rel="me external"><img src="/favicon.svg" alt="Git (personal)"/></a>
		 </nav>
	</aside>
</div>
{% include 'nav.njk' %}
