:root {
    --shadow_color:#141b24; 
    --bg_color:#2f373f;
	--bg_hl:#363E46;
	--border_color:#626a72;
	--text_color:#959da5;
    --text_hl:#8d95a2;
    --emph_color:#1fba91;
    --hl:#3dedbb;
    --debug:#ff0000;
}

@import url("https://fonts.googleapis.com/css?family=Inconsolata");

* {
    font-family: "Inconsolata", sans-serif;
}

a {
    color: var(--hl);
}

b, strong, h1, h2, h3, h4, h5, h6 {
    color: var(--emph_color);
}

body {
    background-color: var(--bg_color);
    color: var(--text_color);
    margin: 0px;
}

.background {
    position: fixed;
    bottom: -12%;
    left: -10%;
    z-index: -1;
    width: 125%;
    height: 125%;
    background-image: url("images/background.jpg");
    background-size: cover;
}

.smLogo {
    display: inline-block;
}

.smLogo > img {
    max-height: 2em;
    padding: 0.5em;
}

.navBar {
    top: 0px;
    position: fixed;
    border-bottom: 1px solid var(--border_color);
    background-color: inherit;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    box-shadow: 0px 2px var(--shadow_color);
}

.navButtonContainer {
    display: inline-block;
}

.navButton {
    display: inline-block;
    padding: 8px;
    border-bottom: 1px solid var(--border_color);
    text-align: center;
    margin-bottom: -1px;
    color: var(--text_color);
}

.navButton:hover,
.navButton[active="true"] {
    border-bottom: 1px solid var(--hl);
    color: var(--hl);
}

.contentBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 3em;
}

.card {
    background-color: var(--bg_color);
    display: inline-block;
    padding: 2em;
    margin: 1em;
    border: 1px solid var(--border_color);
    box-shadow: 3px 3px var(--shadow_color);
    max-width: 18em;
    word-wrap: break-word;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--text_color);
}

a.card {
    text-decoration: none;
}

a.card:hover, a.smLogo:hover {
    color: var(--text_hl);
    background-color: var(--bg_hl);
    border: 1px solid var(--hl);
    box-shadow: 0px 0px;
}

.card > img, .smLogo {
    max-width: 100%;
    border: 1px solid var(--border_color);
    box-shadow: 3px 3px var(--shadow_color);
}

.card *[cardLink="true"] {
    text-decoration: underline;
}
