---
title: Rexa
tags:
  - "project"
---

<img src="/favicon.svg" alt="No image available."/>
<h2><a href="{{ page.url }}">Rexa</a></h2>
<p>A Rust implementation of <a href="https://github.com/ocapn/ocapn" rel="external">object-capability networks</a>.</p>
<nav>
	 <a href="https://github.com/SignalWalker/Rexa" rel="external"><img src="/res/img/logos/git.svg" alt="Github"/></a>
</nav>
