#main-display {
	display: block;

	border: double;
	background-color: var(--interface-bg);

	flex-grow: 1;
	height: 100%;

	position: relative;
}

/* this is to allow the inset shadow to display over the inner content, so it looks nice when scrolling */
#main-display::before {
	content: "";
	position: absolute;
	inset: 0px;
	pointer-events: none;

	box-shadow: var(--channel-shadow) inset;
}


main {
	width: 100%;
	height: 100%;

	overflow-y: scroll;

	background-color: var(--channel-bg);
	background-image: var(--channel-bg-img);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	padding: 0px var(--interface-gap) var(--interface-gap);
}

main {
	display: block flex;
	flex-direction: column;
	gap: var(--interface-gap);

	justify-content: start;
	align-items: center;
}

main.center {
	justify-content: center;
	align-items: center;
}

main > h1.not-found {
	border: double black;
	box-shadow: var(--msg-shadow);
	background-color: var(--msg-bg);
	padding: var(--interface-gap);
}

/*main > section {*/
/*	display: block flex;*/
/*	flex-direction: column;*/
/*	gap: var(--interface-gap);*/
/*}*/
