main > .post:first-child {
	margin-top: var(--interface-gap);
}

.post {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: var(--interface-gap);

	align-self: end;

	width: fit-content;
	max-width: 64em;
}

.post.article {
	align-items: start;
	align-self: start;
}

.post > header {
	display: block flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: first baseline;

	min-width: 0px;
	min-height: 0px;
	width: fit-content;
	height: fit-content;
	margin: 0px;
}

.post.article > header {
	flex-direction: row;
}

.post > header > * {
	box-shadow: var(--msg-shadow);
	background-color: var(--msg-bg);
	border: double black;
}

.post > header > h1 {
	width: fit-content;
	height: fit-content;
	margin: 0px;
	padding: var(--interface-gap);
	text-align: center;
	z-index: 1;
}

.post > footer {
	display: block flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: first baseline;

	gap: var(--interface-gap);

	min-width: 0px;
	min-height: 0px;
	width: fit-content;
	height: fit-content;
	margin: 0px;
}

.post.article > footer {
	flex-direction: row;
}

.post > footer > * {
	box-shadow: var(--msg-shadow);
	background-color: var(--msg-bg);
	border: double black;
	padding: var(--interface-gap);
	margin: 0px;
}

.post > .post-content {
	border: double black;
	box-shadow: var(--channel-shadow);
	background-color: var(--channel-bg);

	width: fit-content;
	height: fit-content;
	max-width: 100%;

	padding: var(--interface-gap);

	contain: content;
	content-visibility: auto;
}

.post-content {
	--img-width: 32em;
	--aside-width: 32em;
}

.post-content > * {
	max-width: 100%;
	max-height: 100%;
}

.post-content aside {
	/*margin-top: var(--interface-gap);*/
	/*margin-bottom: var(--interface-gap);*/
	box-shadow: var(--msg-shadow);
	border: double black;
	background-color: var(--msg-bg);
	float: inline-end;
}

.post-content aside.end {
	width: var(--aside-width);
}

.post-content aside.start {
	width: var(--aside-width);
	float: inline-start;
}

.post-content aside[role='note'] {
	width: fit-content;
	max-width: var(--aside-width);
	padding: var(--interface-gap);
	box-shadow: var(--interface-shadow);
}

.post-content picture > img {
	width: var(--img-width);
}
