---
title: Posts
layout: layout/main.njk
pagination:
  data: collections.publicPosts
  size: 12
  reverse: true
permalink: "/post/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{%- for post in pagination.items -%}
<article class="{{ post.data.tags | postClasses }}">
	{% postHeader post.data.title, post.url %}
	<div class="e-content">
		{{ post.content | safe }}
	</div>
	{%- set absoluteUrl = page.url | htmlBaseUrl(siteMeta.fqdn) -%}
	{%- set mentions = webmentions | getWebmentionsForUrl(absoluteUrl) -%}
	{% postFooter post.data.tags, post.url, post.date, mentions, false %}
</article>
{%- endfor -%}
<nav class="pagination">
	<ol>
		{%- if pagination.href.previous -%}
		<li><a href="{{ pagination.href.previous }}" rel="prev"><</a></li>
		{%- endif %}
		{%- for entry in pagination.pages -%}
		<li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
		{%- endfor -%}
		{%- if pagination.href.next -%}
		<li><a href="{{ pagination.href.next }}" rel="next">></a></li>
		{%- endif %}
	</ol>
</nav>
