---
title: Eightfold
tags:
  - "project"
---

<img src="/res/img/content/projects/eightfold/logo.svg" alt="Eightfold logo; a cube divided into color-coded octants." />
<h2>Eightfold</h2>
<p>A library for partitioning 3D data.</p>
<nav>
	 <a href="https://github.com/SignalWalker/Eightfold" rel="external"><img src="/res/img/logos/git.svg" alt="Github"/></a>
	 <!--<a href="https://crates.io/crates/eightfold" rel="external"><img src="https://crates.io/favicon.ico" alt="Crates.io"/></a>-->
</nav>
