---
layout: 'layout/meta.njk'
mainClass: []
---

<header class="sidebar">
    {% include 'nav.njk'%}
</header>
<div id="main-display" class="inset-overflow">
    <main class="{{ mainClass | join(" ") }}">
        {{ content | safe }}
    </main>
</div>
<footer class="sidebar">
    <div>
        {% include 'h-card.njk' %}
    </div>
</footer>
{%- if neocities -%}
<footer class="sidebar buttons">
    {% include 'buttons.njk' %}
</footer>
{%- endif -%}
