---
layout: layout/main.njk
tags: []
---
<article class="{{tags | postClasses}}">
	{%- postHeader title, page.url -%}
	<div class="e-content">
		{{ content | safe }}
	</div>
	{%- set absoluteUrl = page.url | htmlBaseUrl(siteMeta.fqdn) -%}
	{%- set mentions = webmentions | getWebmentionsForUrl(absoluteUrl) -%}
	{% postFooter tags, page.url, page.date, mentions, true %}
</article>
