.h-card {
	text-align: center;
	gap: var(--interface-gap);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	max-width: 32em;

	border: double var(--border-color);
	box-shadow: var(--outset-shadow);
	background-color: var(--content-bg);
	padding: var(--interface-gap);

	margin: auto;
}

@media screen and (min-width: 80em) {
	.h-card {
		display: flex;
		flex-direction: column;
		justify-content: center;

		background-color: var(--empty-bg);
	}

	.h-card>div {
		width: 100%;
		padding: var(--interface-gap);
		border: double var(--border-color);
		background-color: var(--content-bg);
	}
}

.h-card * {
	margin: 0px;
}

.h-card .p-name {
	text-decoration-line: none;
}

.h-card ul {
	list-style: none;
	padding: 0px;
}

.h-card>picture {
	max-width: 100%;

	border: double var(--border-color);
	box-shadow: var(--inset-shadow);
	background-color: var(--content-bg);

	padding: var(--interface-gap);
}
