#main-display {
	display: flex;
	flex-direction: column;

	width: 100%;

	flex-grow: 1;

	border: double var(--border-color);
	background-color: var(--content-bg);
}

main {
	width: 100%;
	height: 100%;

	/*background-color: var(--content-bg);*/

	padding: var(--interface-gap);

	flex-grow: 1;
}

@media screen and (min-width: 80em) {
	#main-display {
		border: unset;
		background-color: unset;

		height: 100%;
		flex-grow: 1;
	}

	main {
		padding: 0px;
	}
}

@media not (min-width: 80em) {
	main {
		image-rendering: crisp-edges;
		background-image: var(--channel-bg-img);
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
	}
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--interface-gap);

	justify-content: start;
	align-items: center;
}

main.center {
	justify-content: center;
	align-items: center;
}

main.post {
	gap: var(--post-gap);
}

main>h2.not-found {
	border: double var(--border-color);
	box-shadow: var(--outset-shadow);
	background-color: var(--content-bg);
	padding: var(--interface-gap);
}

.self-button {
	display: flex;
	flex-direction: column;
	gap: var(--interface-gap);
	justify-content: center;
	align-items: center;

	image-rendering: crisp-edges;

	border: double var(--border-color);
	background-color: var(--content-bg);
	box-shadow: var(--outset-shadow);

	padding: var(--interface-gap);
	margin: 0px;
}

.self-button>img {
	border: double var(--border-color);
	box-shadow: var(--outset-shadow);
	background-color: var(--content-bg);
	width: 88px;
	height: 31px;
	box-sizing: content-box;
}

.self-button>textarea {
	max-height: 3em;
	min-height: 0px;
}

@supports (image-rendering: pixelated) {
	.self-button {
		image-rendering: pixelated;
	}
}

@media not (min-width: 80em) {
	.self-button {
		border: unset;
		background-color: transparent;
		box-shadow: unset;
	}

	.self-button>textarea,
	.self-button>small {
		display: none;
	}
}

@media print {
	.self-button {
		display: none;
	}
}

/*main > section {*/
/*	display: block flex;*/
/*	flex-direction: column;*/
/*	gap: var(--interface-gap);*/
/*}*/
