.pagination {
	justify-self: end;
}

.pagination>ol {
	list-style: none;
	padding: 0px;
	display: flex;
	flex-direction: row;
	gap: var(--interface-gap);
}

.pagination>ol a {
	box-sizing: border-box;
	border: double var(--border-color);
	box-shadow: var(--outset-shadow);
	background-color: white;
	padding: var(--interface-gap);
}