main>.h-entry:first-child {
	margin-top: var(--interface-gap);
}

.h-entry {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: var(--interface-gap);

	align-self: end;

	width: fit-content;
	max-width: 64em;
}

@media screen and (max-width: 80em) {
	.h-entry {
		width: 100%;
		max-width: 100%;
	}
}

.h-entry.article {
	align-items: start;
	align-self: start;
}

.h-entry>header {
	display: block flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: first baseline;

	min-width: 0px;
	min-height: 0px;
	width: fit-content;
	height: fit-content;
	margin: 0px;
}

.h-entry.article>header {
	flex-direction: row;
}

.h-entry>header>* {
	box-shadow: var(--msg-shadow);
	background-color: var(--msg-bg);
	border: double black;
}

.h-entry>header>h1 {
	width: fit-content;
	height: fit-content;
	margin: 0px;
	padding: var(--interface-gap);
	text-align: center;
	z-index: 1;
}

.h-entry>footer {
	display: block flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: first baseline;

	gap: var(--interface-gap);

	min-width: 0px;
	min-height: 0px;
	width: fit-content;
	height: fit-content;
	margin: 0px;
}

.h-entry.article>footer {
	flex-direction: row;
}

.h-entry>footer>* {
	box-shadow: var(--msg-shadow);
	background-color: var(--msg-bg);
	border: double black;
	padding: var(--interface-gap);
	margin: 0px;
}

.h-entry>.e-content {
	border: double black;
	box-shadow: var(--channel-shadow);
	background-color: var(--channel-bg);

	width: fit-content;
	height: fit-content;
	max-width: 100%;

	padding: var(--interface-gap);

	contain: content;
	content-visibility: auto;
}

.e-content {
	--img-width: 32em;
	--aside-width: 32em;

	max-width: 100%;
}

.e-content>* {
	max-width: 100%;
	max-height: 100%;
}

.e-content> :first-child {
	margin-top: 0px;
}

.e-content aside {
	/*margin-top: var(--interface-gap);*/
	/*margin-bottom: var(--interface-gap);*/
	box-shadow: var(--msg-shadow);
	border: double black;
	background-color: var(--msg-bg);
	float: inline-end;
}

.e-content aside.end {
	width: var(--aside-width);
}

.e-content aside.start {
	width: var(--aside-width);
	float: inline-start;
}

.e-content aside[role='note'] {
	width: fit-content;
	max-width: var(--aside-width);
	padding: var(--interface-gap);
	box-shadow: var(--interface-shadow);
}

.e-content picture>img {
	width: var(--img-width);
}
