main>.h-entry:first-child {
	margin-top: var(--interface-gap);
}

.h-entry {
	--post-flex-direction: row;
	--post-item-alignment: start;
	display: flex;
	flex-direction: column;
	align-items: var(--post-item-alignment);
	gap: var(--interface-gap);

	align-self: start;

	width: fit-content;
	max-width: 64em;
}

.h-entry.article,
.h-entry.fiction {
	--post-flex-direction: row;
	--post-item-alignment: start;
	align-items: var(--post-item-alignment);
	/*align-self: start;*/
}

@media screen and (max-width: 80em) {
	.h-entry {
		width: 100%;
		max-width: 100%;
	}
}

.h-entry .p-name>a {
	text-decoration-line: none;
}

.h-entry>header {
	display: block flex;
	flex-direction: var(--post-flex-direction);
	flex-wrap: wrap;
	align-items: first baseline;

	min-width: 0px;
	min-height: 0px;
	width: fit-content;
	height: fit-content;
	margin: 0px;
}

.h-entry>header>* {
	box-shadow: var(--outset-shadow);
	background-color: var(--content-bg);
	border: double var(--border-color);
}

.h-entry>header>h2 {
	width: fit-content;
	height: fit-content;
	margin: 0px;
	padding: var(--interface-gap);
	text-align: start;
	z-index: 1;
}

.h-entry>footer {
	display: block flex;
	flex-direction: var(--post-flex-direction);
	flex-wrap: wrap;
	align-items: first baseline;

	gap: var(--interface-gap);

	min-width: 0px;
	min-height: 0px;
	width: fit-content;
	height: fit-content;
	margin: 0px;
}

.h-entry>footer>* {
	box-shadow: var(--outset-shadow);
	background-color: var(--content-bg);
	border: double var(--border-color);
	padding: var(--interface-gap);
	margin: 0px;
}

.h-entry>.e-content {
	border: double var(--border-color);
	box-shadow: var(--outset-shadow);
	background-color: var(--content-bg);

	width: fit-content;
	height: fit-content;
	max-width: 100%;

	padding: var(--interface-gap);

	contain: content;
	content-visibility: auto;
}

.h-entry.fiction>.e-content {
	font-family: serif;
}

.e-content {
	--img-width: 32em;
	--aside-width: 32em;
	--aside-gap: 0.5em;

	max-width: 100%;

	text-wrap: pretty;

	/*font-family: serif;*/
}

.e-content>* {
	max-width: 100%;
	max-height: 100%;
}

.e-content> :first-child {
	margin-top: 0px;
}

.e-content aside {
	/*margin-top: var(--interface-gap);*/
	/*margin-bottom: var(--interface-gap);*/
	box-shadow: var(--outset-shadow);
	border: double var(--border-color);
	background-color: var(--content-bg);
	float: inline-end;
	margin-block: var(--aside-gap);
	margin-inline: var(--aside-gap);
	max-width: var(--aside-width);
}

.e-content aside> :first-child {
	margin-block-start: 0px;
}

.e-content aside.end {
	float: inline-end;
}

.e-content aside.start {
	float: inline-start;
}

.e-content aside[role='note'] {
	width: fit-content;
	padding: var(--interface-gap);
	box-shadow: unset;
	/*margin-inline-start: var(--aside-gap);*/
}

.e-content aside[role='note']::before {
	content: "Note";
	margin-block: 0px;
	margin-inline-end: var(--aside-gap);
	float: inline-start;
	border: double var(--border-color);
	/*box-shadow: var(--outset-shadow);*/
	padding: 4px;
}

.e-content picture>img {
	width: var(--img-width);
}

.e-content>pre {
	border: double var(--border-color);
	color: var(--code-fg);
	background-color: var(--code-bg);
	max-width: 80em;
	overflow-x: auto;
	padding: var(--interface-gap);
}
