.sidebar {
	--sidebar-alignment: stretch;
	/*min-width: min-content;*/
	width: 100%;

	display: flex;
	/*grid-auto-rows: 1fr;*/
	flex-direction: column;
	gap: var(--interface-gap);

	flex-basis: min-content;

	/*max-height: 100%;*/

	align-items: var(--sidebar-alignment);
}

/* #navigator:not([open]) { */
/* 	position: absolute; */
/* 	z-index: 1; */
/* 	background-color: white; */
/* 	border: double var(--border-color); */
/* 	box-shadow: var(--outset-shadow); */
/* 	padding: 0.5em; */
/* } */

@media not (min-width: 80em) {
	.sidebar>* {
		padding: var(--interface-gap);
		margin: 0px;
		border: double var(--border-color);
		background-color: var(--content-bg);
		box-shadow: var(--inset-shadow);
	}
}


@media screen and (min-width: 80em) {
	.sidebar {
		--window-flex-direction: row;
		--sidebar-alignment: stretch;
	}

	.sidebar>* {
		flex-shrink: 0;
	}

	footer.sidebar {
		--window-flex-direction: row-reverse;
		--sidebar-alignment: center;
	}

	header.sidebar {
		position: sticky;
		top: 0px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	/*.sidebar>nav {*/
	/*	flex-grow: 1;*/
	/*}*/
	/**/
	/*.sidebar>nav>.secondary-nav {*/
	/*	margin-top: auto;*/
	/*}*/
}

/*.sidebar>*>* {*/
/*	border: double var(--border-color);*/
/*	box-shadow: var(--outset-shadow);*/
/*	background-color: var(--content-bg);*/
/*	padding: var(--interface-gap);*/
/*}*/

.sidebar>nav {
	display: flex;
	flex-direction: row;
	gap: var(--interface-gap);
	justify-content: center;
	align-items: stretch;
}

.sidebar>nav img {
	width: 1em;
	height: 1em;
}

@media screen and (min-width: 80em) {
	.sidebar>nav {
		flex-direction: column;
	}
}

.sidebar>nav>* {
	border: double var(--border-color);
	box-shadow: var(--outset-shadow);
	background-color: var(--content-bg);
	padding: var(--nav-gap);

	display: flex;
	flex-direction: row;
	flex-wrap: none;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
}

nav.icon-nav,
section.project>nav {
	display: flex;
	flex-direction: row;
	gap: var(--interface-gap);
	justify-content: center;
	/*align-items: stretch;*/
}

nav.icon-nav>*,
section.project>nav>* {
	border: double var(--border-color);
	box-shadow: var(--outset-shadow);
	background-color: var(--content-bg);

	height: 3em;
	width: 3em;
	padding: 4px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav.icon-nav img,
section.project>nav img {
	box-sizing: border-box;
	object-fit: contain;
	display: block;

	max-width: 100%;
	height: 100%;
	width: 100%;
	margin: auto;

	flex-grow: 1;
}


@media print {
	.sidebar {
		display: none;
	}
}
