.sidebar {
	/*min-width: min-content;*/
	width: 100%;

	display: block flex;
	/*grid-auto-rows: 1fr;*/
	flex-direction: column;
	gap: var(--interface-gap);

	max-height: 100%;
	overflow-y: hidden;
}

/* #navigator:not([open]) { */
/* 	position: absolute; */
/* 	z-index: 1; */
/* 	background-color: white; */
/* 	border: double var(--border-color); */
/* 	box-shadow: var(--outset-shadow); */
/* 	padding: 0.5em; */
/* } */

@media screen and (min-width: 80em) {
	body>header {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	body>footer {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	body>footer.buttons {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		align-self: end;
	}
}

.sidebar>* {
	/*min-width: min-content;*/

	margin: 0px;
	padding: var(--interface-gap);

	border: double var(--border-color);
	box-shadow: var(--inset-shadow);
	background-color: var(--content-bg);

	/*display: flex;*/
	/*flex-direction: row;*/
	/*justify-content: center;*/
}

/*.sidebar>*>* {*/
/*	border: double var(--border-color);*/
/*	box-shadow: var(--outset-shadow);*/
/*	background-color: var(--content-bg);*/
/*	padding: var(--interface-gap);*/
/*}*/

.sidebar>nav>* {
	border: double var(--border-color);
	box-shadow: var(--outset-shadow);
	background-color: var(--content-bg);
	padding: var(--interface-gap);
}

nav.icon-nav,
section.project>nav {
	display: flex;
	flex-direction: row;
	gap: var(--interface-gap);
	justify-content: center;
	/*align-items: stretch;*/
}

nav.icon-nav>*,
section.project>nav>* {
	border: double var(--border-color);
	box-shadow: var(--outset-shadow);
	background-color: var(--content-bg);

	height: 3em;
	width: 3em;
	padding: 4px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav.icon-nav img,
section.project>nav img {
	box-sizing: border-box;
	object-fit: contain;
	display: block;

	max-width: 100%;
	height: 100%;
	width: 100%;
	margin: auto;

	flex-grow: 1;
}

.sidebar>nav {
	display: flex;
	flex-direction: row;
	gap: var(--interface-gap);
	justify-content: center;
	align-items: stretch;
}

@media print {
	.sidebar {
		display: none;
	}
}

.sidebar>nav>* {
	display: flex;
	flex-direction: column;
}

.sidebar>nav img {
	width: 1em;
	height: 1em;
	flex-grow: 1;
}
