@import url("/style/reset.css");
@import url("/style/widgets.css");
@import url("/style/sidebar.css");
@import url("/style/main.css");
@import url("/style/tag-gallery.css");
@import url("/style/post.css");
@import url("/style/project.css");
@import url("/style/pagination.css");
@import url("/style/h-card.css");
@import url("/style/button-gallery.css");
@import url("/style/inset-overflow.css");
/*@font-face {*/
/*	font-family: "Latitude";*/
/*	src: local("Latitude Regular"), url("/assets/fonts/degheest/woff/Latitude-Regular.woff2") format("woff2")*/
/*		url("/assets/fonts/degheest/woff/Latitude-Regular.woff") format("woff");*/
/*}*/

:root {
	--text-fg: #000000;
	--code-fg: #ffffff;

	--empty-bg: #c8e1c6;
	--content-bg: #ffffff;
	--code-bg: #3c212f;

	--outset-shadow: 4px 4px rgba(0, 0, 0, 0.5);
	--inset-shadow: 4px 4px rgba(0, 0, 0, 0.5) inset;

	--channel-bg-img: url("/img/bg.jpg");

	--link-fg: #993d6d;
	--link-visited-fg: #2d1320;

	--border-color: var(--text-fg);

	--interface-gap: 0.5em;
	--nav-gap: 0.35em;

	color: var(--text-fg);
}

/*@media (prefers-color-scheme: dark) {*/
/*	:root {*/
/*		--text-fg: #fff9f2;*/
/*		--code-fg: #fff9f2;*/
/**/
/*		--empty-bg: #c8e1c6;*/
/*		--content-bg: #000000;*/
/*		--code-bg: #1f1f1f;*/
/**/
/*		--shadow-color: rgb(55, 55, 55);*/
/*		--outset-shadow: 4px 4px var(--shadow-color);*/
/*		--inset-shadow: 4px 4px var(--shadow-color) inset;*/
/**/
/*		--channel-bg-img: url("/img/bg.jpg");*/
/**/
/*		--link-fg: #d55497;*/
/*		--link-visited-fg: #9d6581;*/
/**/
/*		--border-color: #c8c8c8;*/
/**/
/*		color: var(--text-fg);*/
/*	}*/
/*}*/

/** {*/
/*	image-rendering: crisp-edges;*/
/*}*/


html {
	background-color: var(--content-bg);
	border: double var(--border-color);
	box-sizing: border-box;

	font-family: sans-serif;

	width: 100%;
	max-width: 100vw;
	overscroll-behavior: contain;
	display: block flex;
	flex-direction: column;
}

body {
	flex-grow: 1;
	margin: 0px;
	padding: var(--interface-gap);
	background-color: var(--empty-bg);
	gap: var(--interface-gap);

	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 80em) {
	html {
		height: 100%;
		max-height: 100vh
	}

	body {
		height: 100%;
		max-height: 100vh;
		display: grid;
		grid-template-rows: min-content min-content 1fr;
		grid-template-columns: min-content 1fr;
		align-items: start;
	}
}
