h1,
h2,
h3,
h4,
h5,
h6 {
	/*font-family: "Latitude", sans-serif;*/
}

a {
	color: var(--link-fg);
	/*text-decoration-line: none;*/
}

a:visited {
	color: var(--link-visited-fg);
}

a[aria-current="page"] {
	box-shadow: unset !important;
	text-decoration-line: none !important;
}

a:active {
	box-shadow: unset !important;
}

[title] {
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

input:is([type="button"], [type="submit"], [type="reset"]),
input[type="file"]::file-selector-button,
button {
	border: outset;
	background-color: white;
}

input:is([type="button"], [type="submit"], [type="reset"]):active,
input[type="file"]::file-selector-button:active,
button:active {
	border: inset;
	background-color: white;
	box-shadow: var(--inset-shadow);
}

video {
	width: 32em;
}

picture {
	object-fit: contain;
	display: flex;
	flex-direction: column;
}

picture>img {
	height: 100%;
	max-width: 100%;
	object-fit: contain;
	flex-grow: 1;
}
