h1,
h2,
h3,
h4,
h5,
h6 {
	/*font-family: "Latitude", sans-serif;*/
}

a {
	color: var(--link-fg);
	/*text-decoration-line: none;*/
}

a:visited {
	color: var(--link-visited-fg);
}

a[aria-current="page"] {
	box-shadow: unset !important;
	text-decoration-line: none !important;
}

a:active {
	box-shadow: unset !important;
}

[title] {
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

input:is([type="button"], [type="submit"], [type="reset"]),
input[type="file"]::file-selector-button,
button {
	border: outset;
	background-color: white;
}

input:is([type="button"], [type="submit"], [type="reset"]):active,
input[type="file"]::file-selector-button:active,
button:active {
	border: inset;
	background-color: white;
	box-shadow: var(--inset-shadow);
}

video {
	width: 32em;
}

picture {
	object-fit: contain;
	display: flex;
	flex-direction: column;
}

picture>img {
	height: 100%;
	max-width: 100%;
	object-fit: contain;
	flex-grow: 1;
}

.widget {
	box-shadow: var(--outset-shadow);
	border: double var(--border-color);
	background-color: var(--content-bg);
	padding: var(--interface-gap);
	margin: 0px;

	display: flex;
	flex-direction: column;
	align-items: center;

	min-width: 0px;
	min-height: 0px;

	text-align: center;
	text-wrap: balance;
}

.widget>* {
	margin: 0px;
}

.widget>h2 {
	font-size: 1em;
}

widget-listening {
	align-self: stretch;
}

widget-listening>h2 {
	display: flex;
	gap: 0.5em;
}

widget-listening>h2::before,
widget-listening>h2::after {
	content: "🎜";
}

@media not (scripting: enabled) {
	.widget {
		display: none;
	}
}

@media print {
	.widget {
		display: none;
	}
}

.widget {
	display: none;
}

@media screen and (min-width: 80em) {
	.widget {
		display: flex;
	}

	/*widget-listening>* {*/
	/*	display: flex;*/
	/*	flex-direction: row;*/
	/*	justify-content: space-between;*/
	/*	align-self: stretch;*/
	/*	gap: 1em;*/
	/*}*/
}
