---
title: "404"
layout: layout/main.njk
mainClass:
  - "center"
permalink: "{%- if neocities -%}not_found.html{%- else -%}404.html{%- endif -%}"
---

<h2 class="not-found">Error 404 - Not Found</h2>
