---
title: Projects
layout: layout/main.njk
---

<article>
	<img src="images/content/projects/eightfold/logo.svg" alt="Eightfold logo; a cube divided into color-coded octants." />
	<h1>Eightfold</h1>
	<p><b>Status:</b> Near 1.0.0</p>
	<p>A library for partitioning 3D data.</p>
	<nav>
		 <a href="https://github.com/SignalWalker/Eightfold" rel="external"><img src="images/logos/github.svg" alt="Github"/></a>
		 <a href="https://crates.io/crates/eightfold" rel="external"><img src="https://crates.io/favicon.ico" alt="Crates.io"/></a>
	</nav>
</article>
<article>
	<img src="favicon.svg" alt="No image available."/>
	<h1>Rexa</h1>
	<p><b>Status:</b> Researching</p>
	<p>A Rust implementation of <a href="https://github.com/ocapn/ocapn" rel="external">object-capability networks</a>.</p>
	<nav>
		 <a href="https://github.com/SignalWalker/Rexa" rel="external"><img src="images/logos/github.svg" alt="Github"/></a>
	</nav>
</article>
