:root {
    --shadow_color:#0C1935;
    --bg_color:#000a;
    --card_color: #000a;
	--card_hl:#3c3c3caa;
	--border_color:#555c;
	--text_color:#7D8C9E;
    --text_hl:#8796A8;
    --emph_color:#4CB39C;
    --hl:#4CB39C;
    --debug:#ff0000;
}

@import url("https://fonts.googleapis.com/css?family=Inconsolata");

* {
    font-family: "Inconsolata", sans-serif;
}

a {
    color: var(--hl);
}

b, strong, h1, h2, h3, h4, h5, h6 {
    color: var(--emph_color);
}

body {
    background-color: var(--bg_color);
    color: var(--text_color);
    margin: 0px;
}

/* BG Img */

.bg_img {
    position: fixed;
    top: 0px;
    min-width: 100%;
    min-height: 100%;
    filter: blur(1px) brightness(0.4);
    z-index: -1;
    background-color: #000;
    background-image: url("images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Nav Bar */

.navBar {
    top: 0px;
    position: fixed;
    border-bottom: 1px solid var(--border_color);
    background-color: #000b;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    /* box-shadow: 0px 2px var(--shadow_color); */
}

.navButtonContainer {
    display: inline-block;
}

.navButton {
    display: inline-block;
    padding: 8px;
    border-bottom: 1px solid var(--border_color);
    text-align: center;
    margin-bottom: -1px;
    color: var(--text_color);
    text-decoration-line: none;
}

.navButton:hover,
.navButton[active="true"] {
    border-bottom: 1px solid var(--hl);
    color: var(--hl);
}

/* Content */

.contentBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 3em;
}

/* Card */

.card {
    background-color: var(--card_color);
    display: inline-block;
    padding: 2em;
    margin: 1em;
    border: 1px solid var(--border_color);
    max-width: 18em;
    word-wrap: break-word;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--text_color);
}

a.card {
    text-decoration-line: none;
}

/* Shadow Lvl 1 */

/* .card, .card > img {
    /* box-shadow: 3px 3px var(--shadow_color);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
} */

.card > img[small="true"] {
    box-sizing: border-box;
    padding: 8px;
}

/* Shadow Lvl 2 (Interactive) */

a.card, a.smLogo {
    /* box-shadow: 3px 3px var(--shadow_color); */
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* Hover Shadow */

a.card:hover, a.smLogo:hover {
    /* color: var(--text_hl);
    border: 1px solid var(--hl);
    box-shadow: 5px 5px var(--shadow_color); */
    background-color: var(--card_hl);
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

/* Card Img */

.card > img, .smLogo {
    max-width: 100%;
    border: 1px solid var(--border_color);
}

/* smLogo */

.smLogo {
    display: inline-block;
}

.smLogo > img {
    max-height: 2em;
    padding: 0.5em;
}

/* Rounding Lvl 1 */

/* .card > img, .smLogo {
    border-radius: 0.5em;
} */

/* Rounding Lvl 2 */

/* .card {
    border-radius: 1em;
} */